{% extends 'base.html' %}
{% block content %}
     <article class="about-section">
            <div class="starting">ABOUT ME
                 <div id="bborder"></div>
            </div>
            <p id="para1">Hello , I'm a full stack django/react developer from Bangladesh . I'm passionate about working with new ideas and difficult things . My first priority is the user's satisfaction .
                    I love to make from interactive design to scalable design system . Interested in developing real life ideas .  </br>I work on: </br>
            </p>
           <ul id="quality">
                <li>DYNAMIC</li>
                <li>RESPONSIVE</li>
                <li>SCALABLE</li>
                <li>API</li>
           </ul>
           <div class="para2">
                   <div id="heading2">EDUCATION</div>
                  <p>  Currently persuing my engineering degree in Fashion and design from Bangladesh
                    University of Textiles .
                  </p>
           </div>
                    
          
     </article>
{% endblock content %}