{% extends 'base.html'%}
{% block content %}
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
    <section class="home-section">
         <div id="circle2"></div>
         <div id="circle1"></div>
         <div id="square1"></div>
         <div id="name1">
             <p id="name11">Hi,I'm </br><span style="color: #ff0266;">JUBAYER</span></p>
             <p id="name12">full stack developer</p>
             <ul id="links">
               <li id="linkedin"><a href="https://www.linkedin.com/in/md-jubayer-b373b4187"><i class="fa fa-linkedin"></i></a></li>
               <li id="facebook"><a href="https://www.facebook.com/jubayer.jubayer.54390"><i class="fa fa-facebook"></i></a></li>
               <li id="github"><a href="https://www.github.com/J815"><i class="fa fa-github"></i></a></li>
               <!-- <li id="email"><a href="https://"></a></li> -->
             </ul>
         </div>
    </section>
{% endblock content %}   